name: Test package

on: workflow_call

jobs:
  pytest-jobs:
    runs-on: ubuntu-latest
    name: Run pytest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"

    - name: Install package
      run: pip install .
    - name: Install pytest
      run: pip install pytest
    - name: Run pytest
      run: pytest -m "not opendap"
