name: Main branch pull request

on:
  pull_request:
    branches:
      - "master"
  workflow_dispatch: {}

jobs:
  check_version_job:
    uses: ./.github/workflows/action_newversion.yml
  check_changelog_job:
    uses: ./.github/workflows/action_changelog.yml
  build_pypi_job:
    uses: ./.github/workflows/action_pypi_build.yml
  run_pytest:
    uses: ./.github/workflows/action_pytest.yml
